@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData">
                <NotAuthorized>
                    <p>You are not authorized to view this page.</p>
                    <a href="/Auth/Login">Go to Login</a>
                </NotAuthorized>
                <Authorizing>
                    <p>Loading...</p>
                </Authorizing>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <h1>Page not found</h1>
        </NotFound>
    </Router>
</CascadingAuthenticationState>