@model Noting.Models.User
@{
   ViewData["Title"] = "Login";
}
<div class="flex h-screen">
    <!-- Left Section -->
    <div class="w-1/2 flex items-center justify-center text-surface-dark">
        <div class="text-left px-40">
            <h1 class="text-4xl font-bold mb-4">Welcome Back</h1>
            <p class="text-3xl">Log in to continue noting your progress.</p>
        </div>
    </div>
    <!-- Right Section -->
    <div class="w-1/2 flex items-center justify-center">
        <form asp-controller="Auth" asp-action="LoginUser" method="post" class="w-full max-w-sm space-y-6">
            <h2 class="text-2xl font-semibold text-center">Login</h2>
            <div class="relative">
            @Html.TextBoxFor(u => u.Email, new
                {
                    @class = "peer w-full px-4 py-2 peer placeholder:opacity-0 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-highlight focus:border-transparent",
                    placeholder = "Email",
                    id="email"
                })
                <label for="email"
                       class="absolute left-4 transform origin-left
                peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100
                peer-focus:top-0 peer-focus:-translate-y-3 peer-focus:scale-75
                peer-focus:font-semibold peer-focus:tracking-wider peer-focus:text-highlight
                bg-surface-main px-2 duration-200 transition-all pointer-events-none text-surface-muted font-medium">
                    Email
                </label>
            </div>
            <div class="relative">
                @Html.PasswordFor(u => u.PasswordHash, new
                    {
                        @class = "peer w-full px-4 py-2 placeholder:opacity-0 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-highlight focus:border-transparent",
                        id = "password",
                        placeholder = "Password"
                    })
                <label for="password"
                       class="absolute left-2 text-surface-muted font-medium origin-left
                peer-placeholder-shown:top-1/2 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100
                peer-focus:top-0 peer-focus:-translate-y-3 peer-focus:scale-75
                peer-focus:font-semibold peer-focus:tracking-wider peer-focus:text-highlight
                px-2 duration-200 transition-all pointer-events-none bg-surface-main">
                    Password
                </label>
            </div>

            <button type="submit" class="w-full bg-highlight duration-150 border-2 border-surface-main hover:cursor-pointer hover:border-2 hover:border-highlight hover:text-highlight hover:bg-surface-main text-white font-semibold py-2 rounded active:scale-95 active:ease-out">
                Login
            </button>
        </form>
    </div>
</div>

<script>
</script>
