@model Noting.Models.User
@{
	ViewData["Title"] = "Login";
}
<div>
	<form 
	asp-asp-controller="Auth"
	asp-action="LoginUser"
	method="post"
	>
		Login
		@Html.TextBoxFor(u => u.Email, new
			{
				placeholder = "Random name"
			})
		@Html.PasswordFor(u => u.PasswordHash, new
			{
				placeholder = "Password"
			})

		<button type="submit">Login</button>
	</form>


</div>
