@{
    ViewData["Title"] = "Welcome";
}

<div class="flex flex-col md:flex-row items-center justify-center h-screen w-full px-4">
    <!-- Left Side -->
    <div class="w-full md:w-1/2 flex items-center justify-center text-surface-dark">
        <div class="md:text-left md:mx-40 max-w-md text-center">
            <h1 class="text-8xl font-bold mb-4">Noting</h1>
            <p class="text-3xl">Easiest way to track your Notes</p>
        </div>
    </div>

    <!-- Right Side -->
    <div class="w-full md:w-1/2 flex items-center justify-center py-40 md:py-0">
        <div class="w-full max-w-xs space-y-4 text-center">
            <a href="/Auth/Login" class="block w-full bg-highlight duration-150 border-2 border-surface-main hover:cursor-pointer hover:border-2 hover:border-highlight hover:text-highlight hover:bg-surface-main text-white font-semibold py-2 rounded active:scale-95 active:ease-out">
                Login
            </a>

            <a href="/Auth/Register" class="block w-full bg-highlight duration-150 border-2 border-surface-main hover:cursor-pointer hover:border-2 hover:border-highlight hover:text-highlight hover:bg-surface-main text-white font-semibold py-2 rounded active:scale-95 active:ease-out">
                Register
            </a>

            <div class="flex items-center justify-center space-x-2 my-4">
                <hr class="w-1/4 border-divider">
                <span class="text-sm text-gray-500">or</span>
                <hr class="w-1/4 border-divider">
            </div>

            <a href="/Auth/ExternalLogin?provider=Google" class="text-2xl font-semibold text-surface-dark hover:text-gray-900">
                G
            </a>
        </div>
    </div>
</div>
