@page "/graphs"
@using Noting.Services
@inject ExerciseService ExerciseService
@inject AuthenticationStateProvider AuthStateProv
@layout MainLayout


    <div class="border-b-2 alig border-divider mx-8 text-center font-semibold">
    <div class="text-center text-2xl font-semibold focus:outline-none pb-4"
    <h1>Charts</h1>
    </div>
    </div>
<div class="space-y-6 px-4 sm:px-6 lg:px-8 py-6">

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
        <div class="h-[400px] w-[400px]">
            <ExerciseTable />
        </div>
    </div>
    <div class="grid grid-cols-2 gap-4 justify-items-center">
        @foreach (var name in _exerciseNames ?? Enumerable.Empty<string>())
        {
            <div class="w-full">
                <SingleExerciseChart ExerciseName=@name />
            </div>
        }
    </div>
</div>

@code {
    private List<string>? _exerciseNames;

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthStateProv.GetAuthenticationStateAsync()).User;
        var entries = await ExerciseService.GetAllForCurrentUser();
        _exerciseNames = entries
          .Select(e => e.NameTag)
          .Distinct(StringComparer.OrdinalIgnoreCase)
          .OrderBy(n => n)
          .ToList();
    }
}
