@inherits LayoutComponentBase

<div style="display: flex; height: 100vh;">

    <div style="width: 250px; background: #f3f3f3; padding: 1rem;">
        <SidebarComponent />
    </div>


    <div style="flex-grow: 1; padding: 1rem;">
        @Body
    </div>
</div>
@code {

}
