@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthProv
@using System.Security.Claims

<AuthorizeView Context="auth">
    <Authorized>
        <div class="flex h-screen text-surface-dark">
            @if (isSidebarOpen)
            {
                <div class="fixed inset-0 bg-black/30 z-30"
                     @onclick="ToggleSidebar">
                </div>
            }

            <div class="@SidebarClasses z-40">
                <SidebarComponent />
            </div>

            <div class="flex-1 p-4 overflow-auto">
                <button class="fixed top-4 left-4 hover:cursor-pointer rounded-xl flex justify-center items-center hover:bg-hover-color duration-150 active:scale-95 active:ease-out"
                        @onclick="ToggleSidebar"
                        aria-label="Toggle menu">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="w-10 h-10 text-highlight"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="1.5"
                         viewBox="0 0 24 24">
                        <rect x="4" y="4" width="15.5" height="16" rx="5" stroke-linejoin="round" />
                        <path d="M8.444 8.889h3.137" stroke-linecap="round" />
                        <path d="M8.444 12h6.667" stroke-linecap="round" />
                        <path d="M8.444 15.111h6.667" stroke-linecap="round" />
                    </svg>
                </button>

                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <p>User is NOT authenticated in Blazor.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    bool isSidebarOpen;

    void ToggleSidebar()
        => isSidebarOpen = !isSidebarOpen;

    string SidebarClasses =>
        "fixed inset-y-0 left-0 w-4/5 bg-surface-main border-outline border-r-2 shadow-lg border-divider p-2 flex flex-col items-center space-y-6 text-xl transform transition-transform duration-200 " +
        (isSidebarOpen
            ? "translate-x-0"
            : "-translate-x-full"
        ) +
        " md:static md:translate-x-0 md:flex md:w-[30%] xl:md:w-1/5";
}
