@inherits LayoutComponentBase

<div class="flex h-screen text-surface-dark">
    <!-- Sidebar -->
    <div class="w-80 bg-surface-main border-outline border-r p-2 flex flex-col items-center space-y-6 text-xl">
        <SidebarComponent />
    </div>

    <!-- Main content area -->
    <div class="flex-1 p-4 overflow-auto">
        @Body
    </div>
</div>